body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1550px;

}
header{
   background:  linear-gradient(-180deg,#f53d2d,#f63);
    width: 1550px;
    height: 170px;
    color: rgb(235, 236, 238);
    text-decoration: none;
    
}
.shoppe_top{
    width: 1550px;

}
.menu_top{
    margin-left: 50px;
}

.menu_top ul li {
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #f1f1f1;
   
    
}
.menu_top ul  {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}
.header-with-search{
    display: flex;
    flex:1px;

  

}
.header-with-search img{
    width: 170px;
    height: 100px;
    margin-left: 200px;
    margin-bottom: 0px;
    
}
.img input{
    width: 600px;
    height: 40px;
    border-radius: 10px;
    
    margin-left: 50px;
   
    
}
.header_cart-icon{

    font-size: 2.8rem;
    float: left;
    margin-left: 1100px;
    width: 40px;
    height: 40px;
    margin-top: -50px;
}
content{
    width: 100%;
    height: 100%;
}
 .content img{
    width: 100%;
    height: 100%;
}

.img_left{
    width: 700px;
    height: 350px;
    margin-left: 200px;
    margin-top: 30px;
}
.img_right{
    width: 400px;
    height: 170px;
    
    margin-left: 910px;
    margin-top: -350px;
}
.img_righta{
    width: 400px;
    height: 170px;
    margin-left: 910px;
    margin-top: 10px;
}
.row{
    margin-top: 50px;
    float: left;
}
.all{
    display: flex;
    margin-left: 250px;
    margin-top: 50px;
}
.cont{
   float: left;
}
.cont img{
    margin-left: 80px;
    width: 40px;
    height: 40px;
    
}
.cont h5{
    margin-left:30px ;
    font-size: 10px;
}
.conta img{
    width: 40px;
    height: 40px;
    margin-left: 60px;
    
}
.conta h5{
    font-size: 10px;
    margin-left: 40px;
}

.contb img{
    width: 40px;
    height: 40px;
    margin-left: 60px;
    
    
}
.contb h5{
    font-size: 10px;
    margin-left:40px;

}
.contc img{
    width: 40px;
    height: 40px;
    margin-left: 60px;

}
.contc h5{
    font-size: 10px;
    margin-left: 60px;
}
.contd img{
    width: 40px;
    height: 40px;
    margin-left: 80px;
    
    
}
.contd h5{
    font-size: 10px;
    margin-left:60px;

}
.conte img{
    width: 40px;
    height: 40px;
    margin-left: 70px;

}
.conte h5{
    font-size: 10px;
    margin-left: 60px;
}
.contf img{
    width: 40px;
    height: 40px;
    margin-left: 75px;

}
.contf h5{
    font-size: 10px;
    margin-left: 60px;
}
.img_footer img{
    width: 80%;
    display: block;
    overflow: hidden;
    margin-left: 130px;
}
.car{
    width: 100%;
    height: 100%;
    display: flex;
    
}
.car img{
    width: 600px;
    height: 300px;
    margin-left: 450px;
}

.car_all{
        display: flex;
        
      
}
.car_imglambor img{
    width: 350px;
    height: 270px;
    border-radius: 20px;
    margin-left: -920px;
    margin-top: 250px;
}
.car_imglambor h5{
    margin-left: -920px;
}
.car_imglambora img{
    width: 350px;
    height: 270px;
    border-radius: 20px;
   margin-left: -450px;
    margin-top: 250px;
   
}
.car_imglambora h5{
    margin-left: -450px;
    
}
.car_imglamborb img{
    width: 350px;
    height: 270px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 250px;
    
}
.car_imglamborb h5{
    margin-left: 30px;
}
.car_all2{
    display: flex;
}
.car_imglamborc img{
    width: 350px;
    height: 270px;
    border-radius: 20px;
    margin-left: -1300px;
    margin-top: 620px;
}
.car_imglamborc h5{
    margin-left: -1300px;
}
.car_imglambord img{
    width: 350px;
    height: 270px;
    border-radius: 20px;
   margin-left: -830px;
    margin-top: 620px;
   
}
.car_imglambord h5{
    margin-left: -830px;
    
}
.car_imglambore img{
    width: 350px;
    height: 270px;
    border-radius: 20px;
    margin-left: -350px;
    margin-top: 620px;
    
}
.car_imglambore h5{
    margin-left: -350px;
}
.shopee_fake{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 120px;
    margin-top: 40px;
    border: 1px solid #ccc;
}
.shopee_fake ul  {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}

.shopee_fake ul li {
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #0c0b0b;
    color: #ec200d;
   
    
}
.shopee_fake ul li img{
    width: 30px;
    height: 30px;
}
.shopee_real{
    width: 100%;
    height: 100%;
    
}
.real1 img{
    margin-left: 180px;
    border-radius: 20px;
    margin-top: 20px;
}


.real2{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 100px;
    
   
}
.real2 img{
    width: 100px;
    height: 100px;
    padding: 0px 10px 0px 10px;
    -webkit-transition:all 0.9s ease-out;
    -moz-transition:all 0.9s ease-out;
    -ms-transition:all 0.9s ease-out;
    -o-transition:all 0.9s ease-out;
    transition:all 0.9s ease-out;
   

}
.real2 img:hover{
    -webkit-transform:rotate(360deg);
 -moz-transform:rotate(360deg);
 -ms-transform:rotate(360deg);
 -o-transform:rotate(360deg);
 transform:rotate(360deg);
}
.real2 h5{
    padding: 0px 70px 0px 10px;
    
}
.reala{
    margin-left: 600px;
    margin-top: -400px;
   
}
.realb{
    margin-top: -400px;
    
}
.realc{
    margin-top: -400px;
    
}
.real3{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 100px;
}
.real3 img{
    width: 100px;
    height: 100px;
    padding: 0px 10px 0px 10px;
    -webkit-transition:all 0.9s ease-out;
 -moz-transition:all 0.9s ease-out;
 -ms-transition:all 0.9s ease-out;
 -o-transition:all 0.9s ease-out;
 transition:all 0.9s ease-out;
}
.real3 img:hover{
    -webkit-transform:rotate(360deg);
 -moz-transform:rotate(360deg);
 -ms-transform:rotate(360deg);
 -o-transform:rotate(360deg);
 transform:rotate(360deg);
}
.real3 h5{
    padding: 0px 70px 0px 10px;
}
.reald{
    margin-left: 600px;
    margin-top: -150px;
    
}
.reale{
    margin-top: -150px;
    margin-left: 40px ;
    

}
.realf{
   margin-top: -150px;
   margin-left: 50px;
  
}

.noi_dung img{
    transform: scale(1);
transition: all 0.5s;
margin-left: 300px;
border-radius: 20px;
margin-top: 50px;
width: 1000px;
height: 350px;
}
.noi_dung img:hover{
    transform: scale(1.2);
}
.noi_dung h2{
    color: #f53d2d;
    font-family:Helvetica;
    margin-left: 500px;
}
.footera{
    width: 1800px;
    height: 5px;
    background:#f53d2d ;
    margin-top: 50px;
}
.footer{
    width: 100%;
    height: 100%;
    
}
.the_end a{
   color: rgb(136, 129, 118);
}
.next{
    margin-top: 30px;
}
.fashion{
    
    display: flex;
    color: rgb(136, 129, 118) ;
}
.fashion2{
   margin-top: 0px;
    display: flex;
    color:  rgb(136, 129, 118);
}

.titlee h5{
    margin-left: 400px;
    margin-top: -233px;
}
.fashion3{
    display: flex;
    color: rgb(136, 129, 118);
    margin-left: 400px;
   
}
.fashiona{
    display: flex;
    color:rgb(136, 129, 118) ;
    margin-left: 400px;

}
.h5{
    margin-left: 100px;
}
.fashion_all{
    margin-top: -5px;
}

.titlee2 h5{
    margin-left: 750px;
    margin-top: -230px;
}
.fashionlap{
    margin-left: 750px;
}
.fashionlap1{
    display: flex;
    margin-left: 750px;
    color: rgb(136, 129, 118);
}
.fashionlap2{
    display: flex;
    margin-left: 750px;
    color:rgb(136, 129, 118) ;
}
.titlee3{
    color: black;
    margin-top: -160px;
    margin-left: 120px;
}
.iphone{
    display: flex;
    margin-top: -100px;
    margin-left: -150px;
}
